@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary-green: #43815c;
$secondary-green: #70d098;
$optional-green: #30aa82;
$primary-background-color: #0b1d26;
$lighter-background-color: #0f2029;
$secondary-background-color: #14394b;
$secondary-optional-color: #1e4a60;
$blue-color: rgb(45, 110, 174);
$font-family: 'Montserrat', sans-serif;
$font-color: #fff;
$paragraph-color: #e3dfdf;
$blog-font-family: 'Oswald', sans-serif;
