.bottom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.first-section-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.second-section-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  img {
    margin-bottom: 60px;
  }
}

.third-section-weather {
  width: 20%;
  box-sizing: border-box;
  margin-right: 20px;
  margin-top: 40px;

  .parameter-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    img {
      margin-right: 8px;
      width: 30px;
      height: 30px;
    }

    .parameter-value {
      padding-left: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .first-section-weather {
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
    }
  }

  .second-section-weather {
    img {
      margin-bottom: 30px;
    }

    .weather-description {
      font-size: 12px;
    }
  }

  .third-section-weather {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    .parameter-row {
      margin-bottom: 5px;
      justify-content: center;
      align-items: center;
      img {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }
      .parameter-value {
        font-size: 12px;
        padding-left: 5px;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
