// .title {
//   font-size: 1.5em;
//   font-weight: 700;
// }
// .daily-item {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 10px 10px;
//   border-bottom: 1px solid #e0e0e0;
//   margin: 10px;
//   cursor: pointer;
//   .day {
//     font-size: 1.2em;
//     font-weight: 700;
//   }
//   .Temperature {
//     font-size: 2em;
//     font-weight: 700;
//     margin-right: 20px;
//   }
//   .description {
//     font-size: 1.2em;
//     font-weight: 500;
//   }
// }
// .daily-panel {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   justify-content: space-around;
//   align-items: center;
//   margin-top: 20px;
// }
// .item {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   margin: 10px;
// }
// .item label:first-child {
//   font-weight: 500;
// }
