@import "../../../styles/variables.scss";

.select-option-content {
    position: relative;
  }
  
  .select-field {
    background-color: transparent;
    padding: 0.875rem 1.5rem;
    border: 1px solid $primary-green;
    outline: none;
    border-radius: 30px;
    color: $font-color;
    cursor: pointer;
  
    &:focus {
      border: 1px solid $secondary-green;
    }
  
    &::placeholder {
      color: $font-color;
    }
  }
  
  .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $primary-green;
    border: 1px solid $primary-green;
    border-radius: 20px;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
    z-index: 999;
  }
  
  .select-option {
    padding: 0.5rem 1.5rem;
    color: $font-color;
  
    &:hover {
      background-color: $secondary-green;
    }
  }
  
  .option-focus {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: $primary-green transparent transparent transparent;
  }
  

