

.favorite-hikes {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height of the container to 100% of the viewport height */
  
    .header {
      margin-bottom: 20px;
      font-size: 2rem;
      color: #333;
    }
  
    .hike-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  
    .hike-item {
      width: 300px;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
      }
    }
  
    .hike-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-bottom: 1px solid #ccc;
    }
  
    .hike-details {
      padding: 20px;
  
      h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
  
      p {
        margin: 5px 0;
      }
  
      .description {
        font-style: italic;
        color: #666;
      }
  
      .rating {
        margin-top: 10px;
        font-size: 1.2rem;
        color: #ffc107; /* yellow */
      }
    }
  
  
  }
  