@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap");

.container-of-trail-description-of-single {
  width: 50%;
  height: 200px;
  max-height: 200px;
  max-width: 400px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .border {
    height: 190px;
    width: 390px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;

    &:hover {
      border: 1px solid white;
    }
  }

  .card-description-single-trail {
    max-height: 200px;
    max-width: 400px;
    background: black;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: grey;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .description-of-the-single-trail-image {
    color: rgb(255, 255, 255);
    width: 300px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 0.5s;
  }

  .card0:hover .description-of-the-single-trail-image {
    opacity: 1;
  }

  .card0 {
    background-size: 300px;

    &:hover {
      background: left center no-repeat;
      background-size: 600px;

      h2 {
        opacity: 1;
      }

      .fa {
        opacity: 1;
      }
    }
  }

  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }

  .fa {
    opacity: 0;
    transition: opacity 1s;
  }

  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
