@import "../../styles/variables.scss";

.extra-information-of-trail {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $secondary-background-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.394);
  font-family: $font-family;

  .data-of-trail-single {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 15px;

    .route-type,
    .length,
    .duration,
    .calories-burned,
    .status {
      margin-bottom: 20px;

      .paragraph-one,
      .paragraph-two p {
        color: $font-color;
        font-weight: bold;
        margin-bottom: 3px;
        position: relative;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: $optional-green;
          transform: scale(1.05);
          font-size: 15px;
          font-weight: 900;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $optional-green;
        }
      }

      .paragraph-two p {
        text-align: right;
        margin-bottom: 0;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .difficulty {
    margin-top: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .progress-container {
      width: 100px;
      height: 100px;

      .progress-svg {
        width: 100%;
        height: 100%;

        .progress-circle {
          fill: none;
          stroke: #f3f3f3;
          stroke-width: 10;
        }

        .progress-circle-filled {
          fill: none;
          stroke-width: 10;
          transition: stroke-dashoffset 0.9s;

          &.hovered {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }

  .difficulty p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  .progress-container.green .progress-circle-filled {
    stroke: rgb(85, 147, 93);
  }

  .progress-container.yellow .progress-circle-filled {
    stroke: #ffc107;
  }

  .progress-container.red .progress-circle-filled {
    stroke: #c73006;
  }
}

@media (max-width: 768px) {
  .extra-information-of-trail {
    margin-top: 30px;
  }
}
