@import "../../styles/variables.scss";

.page-contain-of-events {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7f3f1;
  border: 12px solid white;
  padding: 32px;
  font-family: "Open Sans", sans-serif;

  .data-card {
    max-width: 39%;
    min-width: 39%;
    max-height: 320px;
    min-height: 320px;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    border-radius: 1px;
    text-decoration: none;
    background: white;
    margin: 16px;
    padding: 44px 40px;
    box-shadow: 0 24px 40px -8px rgba(0, 0, 0, 0.1);
    transition: transform 0.45s ease, background 0.45s ease;
    p {
      min-height: 112px;
    }
    h3 {
      color: #2e3c40;
      font-size: 56px;
      font-weight: 600;
      line-height: 1;
      padding-bottom: 8px;
      margin: 0 0 2.28571px;
      border-bottom: 2px solid #538a5f;
      transition: color 0.45s ease, border 0.45s ease;
    }

    h4 {
      color: #62846f;
      font-family: $font-family;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 1.6px;
      transition: color 0.45s ease;
    }

    p {
      opacity: 0;
      color: #ffffff;
      font-weight: 600;
      line-height: 1.8;
      margin: 0 0 20px;
      transform: translateY(-16px);
      transition: opacity 0.45s ease, transform 0.5s ease;
    }

    &:hover {
      background: #5ea47a;
      transform: scale(1.02);

      h3 {
        color: #ffffff;
        border-bottom-color: #afd19c;
      }

      h4 {
        color: #ffffff;
      }

      p {
        opacity: 1;
        transform: none;
      }

      .link-text {
        color: #ffffff;
        font-size: 15px;

        .arrow-right {
          animation: point 1.25s infinite alternate;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .page-contain-of-events {
      flex-wrap: wrap;
    }

    .data-card {
      max-width: 80%;
      max-height: 250px;
      min-height: 250px;
    }
  }
}
