@import "../../styles/global.scss";
@import "../../styles//variables.scss";
.avatar {
  // border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.dropdown-menu {
  min-width: 260px;
  position: absolute;
  top: 65px;
  right: 0;
  backdrop-filter: blur(60px);
  background-color: rgba(11, 29, 38, 0.95);
  border-radius: 8px;
  padding: 1.4rem 0;
  margin-right: -30px;
  z-index: 1005;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2), 0 8px 32px rgba(0, 0, 0, 0.15);
  transition: ease-in-out 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.bars-icon {
  color: #ffffff;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $primary-green;
  border-radius: 50%;
  transition: all 0.3s ease;
  
  &:hover {
    color: $primary-green;
    transform: scale(1.1);
    border-color: $optional-green;
  }
}

.dropdown img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  @include small-screen-and-less {
    margin-right: 35px;
  }
}

.dropdown-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s ease;
  font-size: 15px;
}

.dropdown-menu a:hover {
  background-color: rgba(67, 129, 92, 0.1);
  color: $optional-green;
}

.logout:hover {
  color: $optional-green;
}

.route-links {
  border-bottom: 1px solid rgb(242, 242, 242);
}

.dropdown-menu span {
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  font-size: 1.1rem;
}

.dropdown-menu .action {
  padding: 2.4rem 0;
}
/* Show dropdown menu when avatar is clicked */
// .dropdown:hover .dropdown-menu {
//   display: block;
// }

.action {
  .logout {
    color: #ffffff;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .bars-icon {
    display: none;
  }
}
