@import '../../styles/global.scss';

.blog--post-form {
  .header {
    height: 250px;
    display: flex;
    align-items: flex-end;

    gap: 15px;
    background-image: -webkit-linear-gradient(
        to bottom,

        rgba($primary-background-color, 0.7),
        rgba($secondary-background-color, 0.8)
      ),
      url('../../assets/images/blog-bg1.jpg');
    background-image: linear-gradient(
        to right,

        rgba($primary-background-color, 0.7),
        rgba($secondary-background-color, 0.8)
      ),
      url('../../assets/images/blog-bg1.jpg');
    background-position: 50% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;

    @include small-screen-and-more {
      margin-top: -78px;
    }

    @include small-screen-and-less {
      margin-top: -112px;
    }

    @include medium-screen-and-more {
      margin-top: -72px;
    }
    .title {
      margin-right: 10%;
      font-size: 3rem;
      color: $font-color;
      @include medium-screen-and-more {
        font-size: 4.5rem;
      }
      @include xxlarge-screen-and-more {
        font-size: 6rem;
      }

      span {
        color: burlywood;
      }
    }
  }
  .write {
    padding-top: 75px;
    padding-left: 30px;
    max-width: 1450px;
    margin: 0 auto;
    font-family: 'Varela', sans-serif;
    background-color: #ffffff;
  }

  .writeImg {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }

  .writeForm {
    position: relative;
    .ant-upload-wrapper {
      display: flex;
    }

    .ant-upload-wrapper .ant-upload-list {
      display: flex;
      gap: 5px;
      color: black;
    }
  }

  .writeFormGroup {
    // display: flex;
    align-items: baseline;
  }

  .writeIcon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: rgb(129, 125, 125);
    cursor: pointer;

    &:hover {
      color: rgb(97, 96, 96);
    }
  }

  .writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
  }
  .ant-input {
    color: #000000;
  }

  .writeInput::placeholder {
    color: rgb(189, 185, 185);
    font-weight: 400;
  }

  .writeInput:focus {
    outline-style: none;
  }

  .writeText {
    width: 70vw;
    height: 100vh;
    font-family: 'Varela', sans-serif;
    font-size: 20px;
  }

  .writeSubmit {
    position: absolute;
    top: 0px;
    right: 70px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
