@import '../../styles/global.scss';

.singleBlog--container {
  background-color: $primary-background-color;
  font-family: $blog-font-family;
  color: #bdbdbd;
  position: relative;

  .header {
    height: 300px;
    display: flex;
    align-items: flex-end;

    gap: 15px;
    background-image: -webkit-linear-gradient(
        to bottom,

        rgba($primary-background-color, 0.7),
        rgba($secondary-background-color, 0.8)
      ),
      url('../../assets/images/blog-bg1.jpg');
    background-image: linear-gradient(
        to right,

        rgba($primary-background-color, 0.7),
        rgba($secondary-background-color, 0.8)
      ),
      url('../../assets/images/blog-bg1.jpg');
    background-position: 50% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;

    @include small-screen-and-more {
      margin-top: -78px;
    }

    @include small-screen-and-less {
      margin-top: -112px;
    }

    @include medium-screen-and-more {
      margin-top: -72px;
    }
    .title {
      margin-right: 10%;
      font-size: 3rem;
      color: $font-color;
      @include medium-screen-and-more {
        font-size: 4.5rem;
      }
      @include xxlarge-screen-and-more {
        font-size: 6rem;
      }

      span {
        color: burlywood;
      }
    }
  }
  .single-blog {
    max-width: 1450px;
    margin: 100px auto;
    .blog-banner {
      height: 90vh;
      padding-left: 25px;
      padding-right: 25px;

      img {
        height: 100%;
        max-height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .blog-content {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;

      @include medium-screen-and-more {
        align-items: unset;
        flex-direction: row;
        gap: 0;
      }
      article {
        padding-left: 25px;
        padding-right: 25px;
        flex: 1;
        .blog-date {
          color: darkgray;
        }

        .blog-title {
          text-transform: uppercase;
          font-size: 3.5rem;
          line-height: 44px;
        }

        .blog-text {
          margin-top: 30px;
          font-size: 18px;
          font-weight: 600;
          font-family: 'Mulish', sans-serif;
          color: #b3b3b3;

          blockquote {
            margin: 40px auto;
            width: 65%;
            text-align: center;
            font-size: 2.5rem;
            font-family: $blog-font-family;
            line-height: 40px;
            font-weight: 600;
            color: #59815b;
            max-width: 600px;

            &::before {
              content: '\201C';
            }

            &:after {
              content: '\201D';
            }
          }

          .middleImage-container {
            max-width: 100%;
            display: flex;
            gap: 30px;
            height: 40vw;
            .image-div {
              flex: 1;
              img {
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    aside {
      min-width: 300px;
      max-width: 450px;
      padding-left: 25px;
      padding-right: 25px;

      @include medium-screen-and-more {
        width: 25%;
      }

      .aside-image {
        background-color: #bcbcbc;
        padding: 5px 22px 5px 10px;
        img {
          border: 4px solid white;
          border-bottom: 25px solid white;
          width: 80%;
          max-width: 100%;
          max-height: 160px;
          object-fit: cover;
          transform: rotate(-12deg);
        }
      }

      h2 {
        margin-top: 20px;
      }

      .latest-blogs {
        margin-top: 40px;
        h2 {
          margin-bottom: 20px;
        }
        .blogs {
          list-style: none;
          .blogs-item {
            margin-bottom: 20px;
            span {
              font-size: 18px;
            }
            img {
              max-width: 100%;
              width: 100%;
              max-height: 150px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.singleBlog--container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: lightgray;
}
