@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima&display=swap");

.blurred-background {
  position: relative;
  width: 100%;
  height: 100%;

  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px;

  border-radius: 20px;

  background-size: cover;
  overflow: hidden;
  z-index: 0;
  box-shadow: 0 0 100px rgba(171, 168, 168, 0.731);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    filter: blur(30px);
    z-index: -1;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .favorite-container-trails-one {
    // display: flex;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title-one-favorite {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;

    h1 {
      padding: 10px;
      // font-family: "Dancing Script", cursive;
      font-family: "Arima", sans-serif;
      font-size: 40px;
      border-radius: 8px;
      display: inline-block;
      transition: transform 0.3s ease;
    }
  }

  .favorite-trails-container-users {
    // max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .cards {
      max-width: 300px;
      min-width: 300px;
      display: flex;
      flex-wrap: wrap;
      border-width: 2px;

      .favorite-trail__card {
        max-width: 300px;
        min-width: 300px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.218);
        color: white;
        border-radius: 12px;
        transition: transform 0.3s ease;
        padding: 0;

        .img-container {
          max-width: 300px;
          min-width: 300px;

          img {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        &:hover {
          transform: scale(1.1);
          background: linear-gradient(
            50deg,
            transparent 5%,
            rgb(194, 201, 149) 50%,
            transparent 99%
          );
        }
      }

      h2 {
        font-size: 20px;
        margin-left: 10px;
        margin-top: 30px;
      }
      h4 {
        margin-left: 10px;
      }
      p {
        margin-left: 10px;
        margin-bottom: 10px;
      }
      h4 {
        margin-bottom: 20px;
      }
    }
  }
}
