.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spiral {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #2b5e7e;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
