@import '../../styles/global.scss';

.pastTrail-item {
  padding: 20px 30px;
  background-color: #42484d;
  border-radius: 7px;
  max-height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;

  .slick-slider {
    max-width: 1200px;
    bottom: 25px;

    @include small-screen-and-more {
    }

    .slick-slide img {
      max-width: 440px;
      width: 440px;
      max-height: 247px;
      object-fit: cover;
      height: 247px;
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 10px;
    }

    .slick-slide {
      text-align: center;
    }

    .slick-list {
      margin-bottom: 12px;
    }

    .slick-dots li {
      width: 35px;
      height: 30px;
    }

    .slick-dots {
      margin-top: 10px;
    }

    .slick-dots .slick-active {
      border: 1px solid #43815c;
    }

    .slick-dots li ul img {
      height: 100%;
    }
  }

  .slick-prev {
    left: 0px;
  }

  .slick-next {
    right: 0;
  }

  .slick-next:before,
  .slick-prev:before {
    color: rgb(25, 72, 25);
  }

  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: inherit;
    outline: none;
    background: '';
  }

  .custom-prev-arrow,
  .custom-next-arrow {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
  }

  .custom-prev-arrow {
    left: -10px;

    @include small-screen-and-more {
      left: -15px;
    }
  }

  .custom-next-arrow {
    right: -10px;

    @include small-screen-and-more {
      right: -15px;
    }
  }

  .pastTrail-images {
    text-align: center;
  }

  .slick-slider ul {
    display: flex !important;
  }

  .single-image {
    object-fit: cover;
    width: 440px;
    max-width: 100%;
    height: 247px;
    border-radius: 10px;
  }

  .btn {
    color: inherit;
    text-transform: uppercase;
    padding: 8px 16px;
    font-family: inherit;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $primary-green;
    transition: 0.3s ease-in-out;

    &.back {
      font-weight: 600;
      background: none;
      border: 1px solid currentColor;
    }

    &:hover {
      background-color: $secondary-green;
    }
  }
}

.pastTrail-item::-webkit-scrollbar {
  @include large-screen-and-more {
    width: 0;
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pastTrail-item h6 {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 900;
  color: #aaa;
}

.pastTrail-item h3 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pastTrail-item h3 span {
  font-size: 2.2rem;
  line-height: 1;
}

.pastTrail-item p {
  font-size: 1.2rem;
}

.pastTrail-item a:link,
.pastTrail-item a:visited {
  font-size: 1.2rem;
  color: #ffb545;
}
