@import '../../styles/global.scss';

.past-trails {
  width: 100%;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 3rem;
}

.no-trails {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.4rem;
}

.past-trails::-webkit-scrollbar {
  width: 2;

  @include large-screen-and-more {
    width: 0;
  }
}