.pastTrail,
.pastTrail:link,
.pastTrail:visited {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  background-color: #42484d;
  border-radius: 7px;
  padding: 0.8rem 1.2rem;
  border-left: 5px solid #00c46a;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.pastTrailAactive {
  border: 2px solid #00c46a;
  border-left: 5px solid #00c46a;
}

.emoji {
  font-size: 2rem;
  line-height: 1;
}

.name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: auto;
}

.date {
  font-size: 1rem;
}

.deleteBtn {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: #2d3439;
  color: #ececec;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn:hover {
  background-color: #ffb545;
  color: #2d3439;
}
