@import "../../styles/global.scss";

.contact {
  min-height: 100dvh;
  background-image: -webkit-linear-gradient(
      to bottom,

      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../assets/images/login-bg2.jpg");
  background-image: linear-gradient(
      to bottom,

      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../assets/images/login-bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
  align-items: center;
  font-family: $font-family;
  color: $font-color;

  @include small-screen-and-more {
    padding: 150px 50px;
  }

  @include medium-screen-and-more {
    flex-direction: row;
  }

  .contact-title {
    gap: 7px;
    display: flex;
    align-items: center;

    .mount-icon {
      font-size: 120px;
    }
    h2 {
      font-size: 3rem;
      @include small-screen-and-more {
        font-size: 4rem;
      }
    }
    p {
      @include small-screen-and-more {
        font-size: 1.5rem;
      }
    }

    .basic-btn {
      margin-top: 3rem;
    }
  }
}

.contact-form {
  min-width: 340px;
  background-color: $primary-background-color;
  border-radius: 10px;
  padding: 30px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  max-width: 340px;

  @include small-screen-and-more {
    min-width: 400px;
    padding: 50px;
    max-width: 470px;
  }

  p {
    color: $font-color;

    &:hover {
      color: rgb(186, 180, 180);
    }
  }
  .custom-alert {
    p {
      font-size: 10px;
      padding-bottom: 0px;
      color: black;
    }
    height: fit-content;
    background-color: #7fff7f;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 5px;
  }

  .error-message {
    font-size: large;
    color: red;
    text-align: center;
  }

  .contact-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    .to-signup {
      color: $primary-green;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  button {
    margin-top: 30px;
    border-radius: 20px;
    background-color: $primary-green;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: $font-family;

    &:hover {
      background-color: $secondary-green;
    }
  }

  .ant-input-affix-wrapper {
    height: 40px;
    border-radius: 8px;
  }

  .ant-input-outlined {
    background-color: #686363;

    &:hover {
      background-color: rgb(142, 142, 142);
    }
  }

  .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):focus {
    background-color: darkgrey;
  }
  .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    background: rgba(255, 0, 0, 0.1);
  }

  .ant-input-affix-wrapper .anticon.ant-input-password-icon {
    color: #fff;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@include medium-screen-and-more {
  .animate-from-bottom {
    animation: slideInFromBottom 0.7s ease-out;
  }
}
