@import '../../styles/global.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.home-container {
  display: flex;
  flex-direction: column;
  margin-top: -132px;
  @include small-screen-and-more {
    margin-top: -90px;
  }
  // background-image: url("./home.jpg");
  // background-image: url("https://th.bing.com/th/id/R.59a616d3357f3541d9845d99c27a652b?rik=fTDas8VIsWEe1w&pid=ImgRaw&r=0");
}

// .top-section {
//     position: relative;
//     background-image: url('https://th.bing.com/th/id/R.59a616d3357f3541d9845d99c27a652b?rik=fTDas8VIsWEe1w&pid=ImgRaw&r=0');
//     background-size: cover;
//     background-position: center;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     gap: 50px;
//     padding: 20px;
//     padding-left: 0;

//     @include large-screen-and-more {
//         flex-direction: row;
//         justify-content: center;

//         padding: 40px 20px;
//     }

//     .overlay {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: rgba(0, 0, 0, 0.3);
//     }

//     .image-container {
//         background-image: url('https://i.gifer.com/origin/53/53b1888523969540c1f2f998c1ad7302.gif');
//         background-size: cover;
//         background-position: center;

//         background-repeat: no-repeat;
//         border-radius: 20px;
//         width: 80%;
//         height: 300px;
//         z-index: 1;
//         transform: scaleX(-1);

//         @include small-screen-and-more {
//             width: 50%;
//         }

//         border-top-left-radius: 20px;
//         border-bottom-left-radius: 20px;
//     }

//     .text-container {
//         display: flex;
//         justify-content: center;
//         text-align: center;
//         flex: 1;
//         padding: 0 20px;
//         z-index: 1;
//         font-family: 'Montserrat', sans-serif;

//         .text-info {
//             border: 8px solid white;
//             padding: 10px;
//             max-width: 600px;
//             border-top-left-radius: 20px;
//             border-bottom-left-radius: 20px;
//         }

//         .head-text {
//             color: white;
//             font-size: 1.3rem;
//             margin-top: 15px;
//         }

//         .head-title {
//             display: block;
//             text-align: center;
//             color: white;
//             font-size: 18px;
//         }
//     }
// }

// .offer-section {
//     padding: 40px 20px;
//     max-width: 1200px;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     gap: 10px;

//     @include medium-screen-and-more {
//         flex-direction: row;
//     }

//     .card {
//         background-color: #f9f9f9;
//         border-radius: 8px;
//         padding: 20px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         flex: 1;
//         margin-right: 10px;
//         max-width: 500px;

//         &:last-child {
//             margin-right: 0;
//         }

//         &:hover {
//             box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
//             transform: translateY(-5px);
//             transition: all 0.3s ease;
//         }

//         .offer-icon {
//             height: 100px;
//             width: 100px;
//         }

//         h4 {
//             font-size: 1.5rem;
//             margin-bottom: 15px;
//         }

//         p {
//             font-size: 1.2rem;
//             color: #666;
//             line-height: 1.6;
//         }
//     }

//     .offer-section-title {
//         display: block;
//         margin-top: 20px;
//         text-align: center;
//     }

//     @media screen and (max-width: 768px) {
//         flex-wrap: wrap;

//         .card {
//             margin-right: 0;
//             margin-bottom: 20px;
//         }
//     }

//     @media screen and (max-width: 576px) {
//         .card {
//             max-width: none;
//             width: 100%;
//         }
//     }
// }

// .offer-title {
//     text-align: center;
// }

// .slider {
//     overflow: hidden;
//     margin: 20px auto;
//     width: 100%;

//     .slide-track {
//         display: flex;
//         justify-content: space-between;
//         animation: marquee 20s linear infinite;
//     }

//     .slide {
//         width: 250px;
//     }

//     @keyframes marquee {
//         0% {
//             transform: translateX(100%);
//         }

//         100% {
//             transform: translateX(-100%);
//         }
//     }
// }
