.image-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 330px;
  overflow: hidden;


}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  height: 260px;
}

.description {
 
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
  padding: 28px;
  
  color: #ffffff;
  text-align: center; 
  width: 100%; 
  box-sizing: border-box; 
}
