@import '../../styles/global.scss';

.mapContainer {
  flex: 1;
  height: 100%;
  background-color: #42484d;
  position: relative;

  z form.svelte-zh3kmv.svelte-zh3kmv {
    z-index: 2000;
    margin-left: auto;
    position: absolute;
  }
}

.map {
  height: 100%;
}

.position-btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 14px;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00c46a;
  color: #2d3439;
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}

.sidebar-nav a:global(.active) {
  background-color: #242a2e;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #2d3439;
  color: #ececec;
  border-radius: 5px;
  padding-right: 6px;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.leaflet-popup .leaflet-popup-content span:first-child {
  font-size: 2.5rem;
  line-height: 1;
}

.leaflet-container {
  @include medium-screen-and-less {
    height: 500px;
  }
}