@import '../../styles/global.scss';

.user-stats {
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: column-reverse;

  position: relative;
  font-family: 'Poppins', sans-serif;
  height: 100dvh;

  @include medium-screen-and-more {
    flex-direction: row;
  }
  @include large-screen-and-more {
    padding: 24px;
  }

  .sidebar {
    flex-basis: 430px;
    background-color: #2d3439;
    padding: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    @include small-screen-and-more {
      padding: 30px 50px 35px 50px;
    }

    @include large-screen-and-more {
      flex-basis: 560px;
      max-width: 560px;
    }

    .quasi-logo {
      margin-top: 25px;
      display: flex;
      align-items: center;
      font-size: 30px;
      color: $secondary-green;
    }
  }

  .sidebar-footer {
    margin-top: auto;
  }

  .sidebar-copyright {
    font-size: 1rem;
    color: #ffffff;
  }

  .sidebar-nav p {
    font-size: 1.6rem;
    background-color: #242a2e;
    padding: 3px 7px;
    border-radius: 5px;
  }

  .sidebar-nav {
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sidebar-nav ul {
    list-style: none;
    display: flex;
    border-radius: 7px;
  }

  .sidebar-nav a:link,
  .sidebar-nav a:visited {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 5px;
  }

  .sidebar-description {
    text-align: center;
  }

  .map {
    flex: 1;
  }
}

.user-stats h1 {
  font-weight: 400;
}

.position-btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 14px;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00c46a;
  color: #2d3439;
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}
